
.vscode
.probe
.curseclient
.idea

vscode/
downloads/
journeymap/
local/
logs/
resourcepacks/
saves/
screenshots/
shaderpacks/
simplebackups/
minecraftinstance.json
options.txt
local/
/mods/
!kubejs/mods/kubejs/server_scripts/mods
logs/
debug/
crash-reports/
saves/
journeymap/
.mixin/
realms_persistence.json
.mixin.out/class/net/minecraft/client/gui/screens/worldselection/WorldOpenFlows.class
usernamecache.json
usercache.json
command_history.txt
kubejs/config/probe-settings.json
ESM/
debug/disconnect-2025-07-17_08.33.43-client.txt
config/ftbchunks-client.snbt
config/worldedit/worldedit.properties
config/iris.properties
mixin.out/
emojiful/
fancymenu_data/
waypoints/
patchouli_data.json
servers.dat
servers.dat_old
user-prefs.json
observable_announce